@model FastFoodWebsite.Models.AccountRegister

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<link rel="stylesheet" href="@Url.Content("~/Content/Register.css")" />


<div class="main">
    <h2 class="text-center p-3">CREATE YOUR ACCOUNT</h2>
    <form method="post" action="~/Account/Register">
        <div class="form-floating mb-3">
            @Html.TextBoxFor(model => model.fullName, new
           {
               @class = "form-control",
               id = "fullName",
               placeholder = "Full Name"
           })
            @*<input type="text" class="form-control" id="fullName" placeholder="Full Name">*@
            <label for="fullName">Full name</label>
            @Html.ValidationMessageFor(model => model.fullName, "", new { @class = "text-danger" })

        </div>
        <div class="form-floating mb-3">
            @Html.TextBoxFor(model => model.phone, new
           {
               @class = "form-control",
               id = "phone",
               placeholder = "Phone"
           })
            @*<input type="text" class="form-control" id="phone" placeholder="Phone">*@
            <label for="phone">Phone</label>
            @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })

        </div>
        <div class="form-floating mb-3">
            @Html.TextBoxFor(model => model.email, new
       {
           @class = "form-control",
           type = "email",
           id = "floatingInput",
           placeholder = "name@example.com"
       })
            @*<input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">*@
            <label for="floatingInput">Email address</label>
            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })

        </div>
        <div class="form-floating mb-3">
            @Html.TextBoxFor(model => model.dayOfBirth, new
       {
           @class = "form-control",
           type = "date",
           id = "dayOfBirth",
           placeholder = "Day Of Birth"
       })
            @*<input type="date" class="form-control" id="dayOfBirth" placeholder="Day Of Birth">*@
            <label for="dayOfBirth">Day of birth</label>
            @Html.ValidationMessageFor(model => model.dayOfBirth, "", new { @class = "text-danger" })

        </div>
        <div class="form-floating mb-3">

            @Html.TextBoxFor(model => model.address, new
       {
           @class = "form-control",
           id = "address",
           placeholder = "Address"
       })
            @*<input type="text" class="form-control" id="address" placeholder="Address">*@
            <label for="Address">Address</label>
            @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })

        </div>
        <div class="form-floating mb-3">
            @Html.TextBoxFor(model => model.password, new
       {
           @class = "form-control",
           type = "password",
           id = "floatingPassword",
           placeholder = "Password"
       })
            @*<input type="password" class="form-control" id="floatingPassword" placeholder="Password">*@
            <label for="floatingPassword">Password</label>
            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })

        </div>
        <div class="form-floating mb-3">
            @Html.TextBoxFor(model => model.confirmPassword, new
       {
           @class = "form-control",
           type = "password",
           id = "confirmPassword",
           placeholder = "Confirm Password"
       })
            @*<input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">*@
            <label for="confirmPassword">Confirm Password</label>
            @Html.ValidationMessageFor(model => model.confirmPassword, "", new { @class = "text-danger" })

        </div>
        <div class="text-center text-danger">
            @if (ViewBag.Error != null)
            {
                @ViewBag.Error
            }
        </div>
        <div class="col-12 p-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    I have read and accepted with Operation Policy
                </label>
            </div>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-danger justify-content-lg-between">Sign In</button>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto text-center p-3">
            <p>Already have an account? <a href="@Url.Action("LogIn", "Account")">Log In</a></p>
        </div>
    </form>
</div>

