@model FastFoodWebsite.Models.PRODUCT
@{
    ViewBag.Title = "DetailProduct";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-5">
            <img src="@Url.Content("~/img/imgProduct/"+Model.PICTURE)" style="padding: 10px" />
        </div>
        <div class="col-5">
            <form method="post" action="~/Cart/AddCart">
                <hr />
                <dl class="dl-horizontal">
                    <dd class="text-center fw-bolder">
                        @Html.DisplayFor(model => model.PRODUCTNAME)
                    </dd>

                    <dd class="text-center">
                        @Html.DisplayFor(model => model.PRODUCTDESCRIPTION)
                    </dd>
                    <input type="hidden" name="prodID" value="@Model.PRODUCTID" />
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control quantity" id="sl" name="num">
                        <label for="sl">Số lượng</label>
                    </div>
                    <div class="form-floating mb-3" style="height: 100px">

                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" name="notes"></textarea>
                        <label for="floatingTextarea2">Comments</label>
                    </div>

                </dl>
                <button class="btn btn-danger mb-3 btnBuy" type="submit">MUA NGAY</button>
                @*<a href="@Url.Action("Menu", "Product")" class="btn btn-danger mb-3">Mua tiếp</a>*@


            </form>
        </div>
    </div>
</div>

<script>
    const quantityInput = document.querySelector('.quantity');
    const btnBuy = document.querySelector('.btnBuy');

    quantityInput.addEventListener('change', (e) => {
        if (e.target.value <= 0) {
            quantityInput.value = 0;
            btnBuy.classList.add('disabled');
        } else {
            btnBuy.classList.remove('disabled');
        }
    })

    if (quantityInput.value == 0 || quantityInput.value == "" || quantityInput.value == null) {
        console.log('hi')
        btnBuy.classList.add('disabled');
    } else {
        btnBuy.classList.remove('disabled');
    }
</script>


