@model List<FastFoodWebsite.Models.PRODUCT>

<div class="row text-center">
    @foreach (var item in Model)
    {
        <div class="col-4">
            <img src="@Url.Content("~/img/imgProduct/"+item.PICTURE)" class="w-100" />
            @if (item.PRODUCTNAME.Length > 30)
            {
                <p>
                    <strong title="@item.PRODUCTNAME">@item.PRODUCTNAME.Substring(0, 30)....</strong>
                    <strong>@item.PRODUCTDESCRIPTION</strong>
                    <strong>@item.PRICE</strong>
                    <a href="@Url.Action("DetailProduct", "Product", new {@id = item.PRODUCTID})">Đặt hàng</a>
                </p>
            }
            else
            {
        <p>
            <strong title="@item.PRODUCTNAME" >@item.PRODUCTNAME</strong> <br />
            <strong class="text-bg-danger mb-3">@item.PRODUCTDESCRIPTION VNĐ</strong> <br />
            <strong>@item.PRICE</strong>

            <a href="@Url.Action("DetailProduct", "Product", new {@id = item.PRODUCTID})">Xem chi tiết</a>
        </p>
            }
        </div>
    }
</div>
