@model List<FastFoodWebsite.Models.PRODUCT>


<div class="row text-center">
    @foreach (var item in Model)
    {
        <div class="col-4">
            <img src="@Url.Content("~/img/imgProduct/"+item.PICTURE)" class="w-100" />
            @if (item.PRODUCTNAME.Length > 30)
            {
                <p>
                    <strong title="@item.PRODUCTNAME">@item.PRODUCTNAME.Substring(0, 30)....</strong>
                <P>@item.PRODUCTDESCRIPTION</P>
                <P>@item.PRICE VNĐ</P>
                <a href="@Url.Action("DetailProduct", "Product", new {@id = item.PRODUCTID})" class="btn btn-danger mb-3">Đặt hàng</a>
                </p>
            }
            else
            {
                <p>
                    <strong title="@item.PRODUCTNAME">@item.PRODUCTNAME</strong> <br />
                <p class="mb-3">@item.PRODUCTDESCRIPTION</p> <br />
                <p>@item.PRICE VNĐ</p>

                <a href="@Url.Action("DetailProduct", "Product", new {@id = item.PRODUCTID})" class="btn btn-danger mb-3">Đặt hàng</a>

                </p>
            }
        </div>
    }
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination" style="justify-content: center;">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>

        @for (int i = 1; i <= ViewBag.pageSize; i++)
        {
            <li class="page-item"><a class="page-link" href="#">@i</a></li>
        }
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>
